# Gathering Data

In [4]:
# Import libraries
import pandas as pd

In [28]:
# Read from csv
df1 = pd.read_csv('Data/course_offerings.csv', sep=',', header=0)
print(df)

     Instructor                    Title
0  Chris Bruehl   Lead Python Instructor
1   John Pauler     Chief Growth Officer
2    Alice Zhao  Data Science Instructor

In [29]:
# Read from excel
df2 = pd.read_excel('Data/Course Offerings.xlsx')
print(df)

     Instructor                    Title
0  Chris Bruehl   Lead Python Instructor
1   John Pauler     Chief Growth Officer
2    Alice Zhao  Data Science Instructor

In [16]:
# Connect to a sqlite database and read from sql
import sqlite3

In [30]:
conn = sqlite3.connect('Data/maven.db')

In [18]:
pd.read_sql('SELECT * FROM courses', conn)

   course_id                       course    instructor
0        101              Intro to Python  Chris Bruehl
1        102                 Intro to SQL   John Pauler
2        201    Exploratory Data Analysis    Alice Zhao
3        301                   Algorithms  Chris Bruehl
4        331  Natural Language Processing    Alice Zhao

In [22]:
# Exploring dataframe
df.head()

     Instructor                    Title
0  Chris Bruehl   Lead Python Instructor
1   John Pauler     Chief Growth Officer
2    Alice Zhao  Data Science Instructor

In [23]:
df.describe()

          Instructor                   Title
count              3                       3
unique             3                       3
top     Chris Bruehl  Lead Python Instructor
freq               1                       1

In [24]:
df.count()

Instructor    3
Title         3
dtype: int64

In [25]:
df.info

<bound method DataFrame.info of      Instructor                    Title
0  Chris Bruehl   Lead Python Instructor
1   John Pauler     Chief Growth Officer
2    Alice Zhao  Data Science Instructor>

In [27]:
df.shape

(3, 2)